<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - SystemControl</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">



            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        @Html.ActionLink("Sistema de Control", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i> Inicio </a>
                  
                    
                </li>
                <li>
                    <a href="#"><i class="fas fa-users"></i> Clientes</a>
                </li>
                <li>
                   <a href="#"><i class="fas fa-archive"></i> Productos</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-calendar"></i> Facturas</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-address-book"></i> Detalles</a>
                </li>
                
            </ul>


        </div>
        <!-- /#sidebar-wrapper -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a id="menu-toggle" href="#menu-toggle" class="nav-link"> <i class="fas fa-align-justify"></i> Menu</a>
                    </li>
                    
                 
                </ul>
                <p class="text-center">Sistema de Control.</p>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="page-content-wrapper">

           
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Control</p>
            </footer>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
 
    @RenderSection("scripts", required: false)
    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function(){

            $("#wrapper").toggleClass("toggled");
        });

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>

