@model ICollection<SystemFacturacion.Models.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info align-right" href="@Url.Action("Add","Bill")">Nuevo </a>

<div class="container">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
               
                <th scope="col">Fecha</th>
                <th scope="col">Codigo de Pago</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.BillID
                </td>
                
                <td>
                    @item.Date
                </td>
                <td>
                    @item.PayCode
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("Edit","Bill",new { Id = item.BillID })"><span class="fas fa-pencil-alt"></span></a>
                    <a class="btn btn-danger" href="@Url.Action("Delete","Bill",new { Id = item.BillID })"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>



</div>
