@model SystemFacturacion.Models.Costumer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminacion de registro</h2>

<h3>¿Seguro?</h3>
<div>
    <h4>Costumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           <label>Apellido</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
          <label>Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label>Fecha de Nacimiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CostumerID)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
