@model SystemFacturacion.Models.Product

@{
    ViewBag.Title = "Eliminar | Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminacion de Datos</h2>

<h3>¿Seguro?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Categoria</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Categoria.Name)
        </dd>

        <dt>
          <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
          <label>Fecha</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
