@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Control</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3 text-center">
            <div class="card-header">
                Clientes
            </div>
            <div class="card-body">
                <h1>@ViewBag.Clientes</h1>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index","Costumer")" class="btn btn-info">Control de Clientes</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 text-center">
            <div class="card-header">
                Facturas
            </div>
            <div class="card-body">
                <h1> @ViewBag.Facturas</h1>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index","Bill")" class="btn btn-warning">Control de Facturas</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3 text-center">
            <div class="card-header">
                Productos
            </div>
            <div class="card-body">
                <h1>@ViewBag.Productos</h1>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index","Product")" class="btn btn-dark">Control de Productos</a>
            </div>
        </div>

    </div>
</div>